<!-- STD Templates --------------------------------------------------------------->

%{ define "rui_std_root"}%
<div class="rui_std_root">
	%{ $style := .Style }%
	%{ range .SubNodes }%
		%{ rui $style .SubNodes }%
	%{ end}%	
</div>
%{ end}%

%{ define "rui_std_struct"}%
%{ $style := .Style }%
<div class="rui_std_struct">
%{.Label}%:<br>
%{ rui $style .SubNodes }%	
</div>
%{ end}%

%{ define "rui_std_map"}%
%{ template "rui_std_struct" . }%
%{ end}%

%{ define "rui_std_slice"}%
%{ template "rui_std_struct" . }%
%{ end}%

%{ define "rui_std_array"}%
%{ template "rui_std_struct" . }%
%{ end}%

%{ define "rui_std_default"}%
<span class="rui_std_default">%{.Label}%: %{ .Value }%<br></span>
%{ end}%

%{ define "rui_std_RuiStyleData"}%
%{ rui .Fields.Style.Value .Fields.Data }%	
%{ end}%

