<!-- STD Templates --------------------------------------------------------------->

%{ define "rui_std_root"}%
<div class="rui_std_root">
	%{ $style := .Style }%
	%{ range .SubNodes }%
		%{ ruinodes $style .SubNodes }%
	%{ end}%	
</div>
%{ end}%

%{ define "rui_std_struct"}%
%{ $style := .Style }%
<div class="rui_std_struct">
	<b>%{ .Name }%</b>:%{ .Type }%
	%{ ruinodes $style .SubNodes }%	
  </div>
%{ end}%

%{ define "rui_std_map"}%
%{ template "rui_std_struct" . }%
%{ end}%

%{ define "rui_std_slice"}%
<div class="rui_std_slice">
	%{ ruinodes .Style .SubNodes }%	
</div>
%{ end}%

%{ define "rui_std_array"}%
<div class="rui_std_array">
%{ ruinodes .Style .SubNodes }%	
</div>
%{ end}%

%{ define "rui_std_default"}%
<div class="rui_std_default">
	<span>
	    	<label class="rui_std_default">%{.Label}%</label>
	    	<input class="rui_std_default" id="%{.Id}%" placeholder="%{.Type}%" value="%{ .Value }%" readonly >
  	</span>
</div>
%{ end}%

%{ define "rui_std_RuiStyleData"}%
%{ ruinode .Fields.Style.Value .Fields.Data }%	
%{ end}%

